<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/design.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Deerpoint Liquor Store</title>
    </head>
    <body>

        <div class="main">
            <div class="top">
                
                <script>
                    $.get("/api/customer/username", function (data) {
                        if (data && data.length < 100) {
                            $("#username").append('<a href="profile">' + data + '</a>');
                            $("#login").remove();
                            $("#register").remove();
                            $(".menu").append('<a href="/logout" id="logout">Logout</a>');
                        } else {
                            $("#logout").remove();
                            $("#cart").remove();
                        }
                        console.log(data);
                    });
                </script>

                <span class="menu"> 
                    <a href="index">Home</a>
                    <a href="#">About</a>
                    <a href="products">Products</a>
                    <a href="#" id="cart">Cart</a>

                    <a href="login" id="login">Log in</a>
                    <a href="register" id="register">Sign up</a>
                    <span id ="username"></span>
                </span>
            </div>

            <div class="container"> 
                <br><br>

                <script>
                    $.get("/api/product", function (data) {
                        const products = JSON.stringify(data);
                        const productObject = JSON.parse(products);

                        for (let i = 0; i < productObject.length; i++) {
                            let productName = productObject[i].productName;
                            let productPrice = productObject[i].productPrice;
                            $('.cotentFeature').prepend("<img src='/img/" + productName + ".png'" + "/>" + "<br><h2>" + productName + "<br><h3>$" + productPrice) + "</h3></h2>";
                        }
                    });
                </script>

                <!-- Middle Section -->
                <div class="middleAbout">
                    <img src="/img/logo.png" alt="logo" style="width: 30vw; float: left;">
                    <img src="/img/aboutus.png" alt="logo" style="width: 20vw; padding-top: 20vh; ">
                </div>
                <!-- Middle Section -->
                <div class="service">
                    <div class="colMid">
                        <h3><i class="fa fa-phone"></i>Online Support</h3>
                        <h4>24 hours Support via phone or email</h4>
                        <h3><i class="fa fa-automobile"></i>Curbside Pickup</h3>
                        <h4>Available until closing</h4>
                        <h3><i class="fa fa-handshake-o"></i>Easy Refunds</h3>
                        <h4>Prepare your receipt</h4>
                        <h3><i class="fa fa-truck"></i>Delivery</h3>
                        <h4>Calgary Southeast Area</h4>
                    </div>
                </div>
                <div class="reviews">
                    <h1 style="font-size: 3vw;">Reviews</h1>
                    <h2 style="color: black;">Happy Customer</h2>
                    <div id="slideshow">
                        <div>
                            <img src="/img/Screenshot 2021-06-29 224353.png" alt="logo">
                        </div>
                        <div>
                            <img src="/img/Screenshot2.png" alt="logo">
                        </div>
                        <div>
                          <img src="/img/Screenshot3.png" alt="logo">
                        </div>
                        <div>
                          <img src="/img/Screenshot4.png" alt="logo">
                        </div>
                     </div>
                    <button onclick="https://www.google.com/search?q=deer+point+liquor+store&rlz=1C1GCEU_enCA883CA883&oq=dee&aqs=chrome.0.69i59l2j46i20i263i275j69i57j69i60j69i61l2j69i60.2044j1j7&sourceid=chrome&ie=UTF-8#lrd=0x537176fb5dc576b3:0x727f50635ded5d34,3,,," style="background-color: #245559; color: white;">Send Review here</button>
                </div>
                <hr>
                <div class="details" style="padding-top: 10vh;">
                    <h1>Deerpoint Liquor Store</h1>
                    <h2>14921 Deer Ridge Drive SE, Calgary, Alberta T2J 7C1, Canada</h2>
                    <div class="gmap_canvas"  style="text-align: center">
                        <iframe width="500" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Deerpoint%20Liqu&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <br>
                    <h1>Operating Hours</h1>
                    <h2>Open Today 10:00 am - 10:00 pm</h2>
                    <p>Mon. 10:00 a.m. - 10:00 p.m.</p>
                    <p>Tue. 10:00 a.m. - 10:00 p.m.</p>
                    <p>Wen. 10:00 a.m. - 10:00 p.m.</p>
                    <p>Thu. 10:00 a.m. - 10:00 p.m.</p>
                    <p>Fri. 10:00 a.m. - 10:00 p.m.</p>
                    <p>Sat. 10:00 a.m. - 10:00 p.m.</p>
                    <p>Sun. 10:00 a.m. - 09:00 p.m.</p>
                    <h3>Operating hours may differ due to the outbreak of COVID-19.</h3><br>
                    <hr><br><br>
                    <h1>Visit our Social Media</h1>
                    <a href="https://www.facebook.com/deerpointliquor/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/deerpoint_liquor_store/" class="fa fa-instagram"></a>
                </div>

            </div>
        </div>

        <footer>
            <span class="homefoot"><br><i class="fa fa-phone"></i>+5877007000<br><i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
            <p>Copyright &copy; deerpointliquor</p>
        </footer>
</html> 