<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <title>Deerpoint Liquor Store</title>
</head>
<body>

<div class="main">
    <div class="top">

        <script>
                    $.get("/api/user/username", function (data) {
                        if (data && data.length < 100) {
                            $("#username").append('<a href="profile">' + data + '</a>');
                            $("#login").remove();
                            $("#register").remove();
                            $(".menu").append('<a href="/logout" id="logout">Logout</a>');
                        } else {
                            $("#logout").remove();
                            $("#cart").remove();
                        }
                    });
                </script>

        <span class="menu">
                    <a href="index">Home</a>
                    <a href="about">About</a>
                    <a href="products">Products</a>
                    <a href="cart" id="cart">Cart</a>

                    <a href="login" id="login">Log in</a>
                    <a href="register" id="register">Sign up</a>
                    <span id ="username"></span>
                </span>
    </div>
    <script>
                            function delete(anything) {
                            $.post("/api/cart/deleteCart", {
                                productId: anything
                            }).done(function (data) {

                            });
                            console.log(anything);
                        }
    </script>
    <div class="container">
        <br><br>

        <!-- Middle Section -->
        <div class="middleAbout">
            <img src="/img/cart.png" alt="logo" style="width: 10vw; padding-top: 10vh; ">
        </div>
        <!-- Middle Section -->
        <div class="reviews">
            <h1 style="font-size: 3vw;">Cart Page</h1>
            <h2 style="color: black;">Cart Details</h2>
            <script>
                $.get("/api/cart/cartListByUser", function(data) {
                    const cart = JSON.stringify(data);
                    const cartObj = JSON.parse(cart);

                    if(cartObj.length <= 0){
                        document.getElementById("cartTable").remove();
                    }else{
                     for (let i = 0; i < cartObj.length; i++) {
                        let productName = cartObj[i].product.productName;
                        let productPrice = cartObj[i].product.productPrice;
                        let productQuantity = cartObj[i].quantity;
                        $('.tablecart').append("<tr><td><h2>" + productQuantity + "</h2></td><td><h2>" + productName + "</h2></td><td><h3>$" + productPrice + "</h3></td></tr>");
                     }
                    }

                });
            </script>

            <script>
                $.get("/api/user/orders", function(data) {
                    const cart = JSON.stringify(data);
                    const cartObj = JSON.parse(cart);

                    if(cartObj.length <= 0){
                         document.getElementById("ordersTable").remove();
                    }else{
                        for (let i = 0; i < cartObj.length; i++) {
                            let productName = cartObj[i].product.productName;
                            let orderCode = cartObj[i].orderCode;
                            let quantity = cartObj[i].product.productQuantity;
                            $('#ordersTable').append("<tr><td>" + orderCode + "</td>" + "<td>" + productName + "</td>" + "<td>" + quantity + "</td><tr>");
                        }
                    }
                });
            </script>

            <div id="orders">
               <table id="ordersTable">
                   <th>OrderCode</th>
                   <th>Product</th>
                   <th>Quantity</th>
               </table>
            </div>

            <div class="cart" >
                <table id="cartTable" class="tablecart"><tr><th>Quantity</th><th>Name</th><th>Price</th></tr>
                    <!--                        display given product-->
                </table>
            </div>

<!--            <br><br>-->
<!--            <button style="background-color: #245559; color: white;">Proceed to Checkout</button>-->
        </div>

    </div>
</div>

<script>
$.get("/api/cart/cartTotal", function (data) {
        if(data <= 0){
         document.getElementById("checkout-form").remove();
        }else{
         document.body.appendChild(document.getElementById("checkout-form"));
        }
    });

</script>

<div>
    <script src="https://js.stripe.com/v3/"></script>

    <form action='/cart' method='POST' id='checkout-form' xmlns:th="http://www.w3.org/1999/xhtml">
        <input type='hidden' th:value='${amount/100}' name='amount' />
        <h1>Price:<span th:text='${amount / 100}' /></h1>
        <script
                src='https://checkout.stripe.com/checkout.js'
                class='stripe-button'
                th:attr='data-key=${stripePublicKey}'
                data-name='DeerPoint Liquor Store'
                data-description='Product Checkout'
                data-image='/img/logo.png'
                data-locale='auto'
                data-zip-code='false'>
        </script>
    </form>

    <h1><span th:text='${success}' /></h1>
</div>

<footer>
    <span class="homefoot"><br><i class="fa fa-phone"></i>+5877007000<br><i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
    <p>Copyright &copy; deerpointliquor</p>
</footer>
</body>
</html>