<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Employee Page</title>

</head>
<body>
<div class="top">
    <script>
                $.get("/api/user/username", function(data) {
                    if (data && data.length < 100) {
                        $("#username").append('<a href="profile">' + data + '</a>');
                        $("#login").remove();
                        $("#register").remove();
                        $(".menu").append('<a href="/logout" id="logout">Logout</a>');
                    } else {
                        $("#logout").remove();
                        $("#cart").remove();
                    }
                    console.log(data);
                });
            </script>
    <span class="menu">
<a href="index">Home</a>
<a href="about">About</a>
<a href="products">Products</a>
<a href="cart" id="cart">Cart</a>

<!--<span sec:authorize="hasAuthority('employee')">-->
<!--<a href="employee">employee</a>-->
<!--</span>-->

<a href="login" id="login">Log in</a>
<a href="register" id="register">Sign up</a>
<span id="username"></span>
            </span>
</div>


<div class="container">
    <br><br>

    <!--script for getting the employee information-->
    <script>
        $.get("/api/employee/info", function(data) {

            $(".empInfo").append(data);
            });
    </script>

    <!--script for getting the employee transaction history-->
    <script>
        $.get("/api/employee/productSold", function(data) {
            $(".empTransac").append(data);
            });
    </script>


    <!-- Middle Section -->
    <div class="middleAbout">
        <h1>EMPLOYEE PAGE</h1>

<!--        <div class ="employeeLinks">-->
<!--        <h2> <a href="/info">Employee Info </a> | <a href="productSold">Transactions</a></h2>-->
<!--        </div>-->

    </div>
    <!-- Middle Section -->
    <div class="empInfoAndTransac">

        <div class="empInfo">
            <h2 style="text-align: left;">Username | User Role</h2>
            <!-- display employee info using script-->
        </div>


        <div class="empTransac">
            <h2 style="text-align: right;">Employee Transaction History</h2>
            <!-- display employee transactions using script-->
        </div>
    </div>




<footer>
    <span class="homefoot"><br><i class="fa fa-phone"></i>+5877007000<br><i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
    <p>Copyright &copy; deerpointliquor</p>
</footer>

</body>
</html>
