<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/design.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Deerpoint Liquor Store</title>
    </head>
    <body>

        <div class="main">
            <div class="top">

                <script>
                    $.get("/api/user/username", function (data) {
                        if (data && data.length < 100) {
                            $("#username").append('<a href="profile">' + data + '</a>');
                            $("#login").remove();
                            $("#register").remove();
                            $(".menu").append('<a href="/logout" id="logout">Logout</a>');
                        } else {
                            $("#logout").remove();
                            $("#cart").remove();
                        }
                        console.log(data);
                    });
                </script>

                <span class="menu">
                    <a href="index">Home</a>
                    <a href="about">About</a>
                    <a href="products">Products</a>
                    <a href="#" id="cart">Cart</a>

                    <a href="login" id="login">Log in</a>
                    <a href="register" id="register">Sign up</a>
                    <span id ="username"></span>
                </span>
            </div>

            <div class="container">
                <br><br>

                <script>
                    $.get("/api/product", function (data) {
                        const products = JSON.stringify(data);
                        const productObject = JSON.parse(products);

                        for (let i = 0; i < productObject.length; i++) {
                            let productName = productObject[i].productName;
                            let productPrice = productObject[i].productPrice;
                            $('.cotentFeature').prepend("<img src='/img/" + productName + ".png'" + "/>" + "<br><h2>" + productName + "<br><h3>$" + productPrice) + "</h3></h2>";
                        }
                    });

                </script>

                <!-- Middle Section -->
                <div class="middle">
                    <img src="/img/logo.png" alt="logo" style="width: 20vw; float: left;">
                    <img src="/img/mid.png" alt="logo">

                    <div class="midButton">
                        <button style="background-color: #245559; color: white;">Shop Now</button><button>Read more</button>
                    </div>
                    <br><br><br>
                </div>
                <!-- Middle Section -->
                <div class="service">
                    <div class="colMid">
                        <h2><i class="fa fa-phone"></i>Online Support</h2>
                        <h2><i class="fa fa-automobile"></i>Curbside Pickup</h2>
                        <h2><i class="fa fa-handshake-o"></i>Easy Refunds</h2>
                        <h2><i class="fa fa-truck"></i>Delivery</h2>
                    </div>
                </div>
                <div class="feature">
                    <h1>Featured Items</h1>
                    <br>
                    <div class="cotentFeature">
                        <!--                        display given product-->
                    </div>
                </div>
                <div class="sale">
                    <h1>Sale Items</h1>
                    <br>
                    <div class="cotentFeature">
                        <!--                        display given product-->
                    </div>
                </div>
                <div class="details">
                    <h1>Deerpoint Liquor Store</h1>
                    <h2>14921 Deer Ridge Drive SE, Calgary, Alberta T2J 7C1, Canada</h2>
                    <br>
                    <h1>Operating Hours</h1>
                    <h2>Open Today 10:00 am - 10:00 pm</h2>
                    <h3>Operating hours may differ due to the outbreak of COVID-19.</h3>
                </div>

            </div>
        </div>

        <footer>
            <span class="homefoot"><br><i class="fa fa-phone"></i>+5877007000<br><i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
            <p>Copyright &copy; deerpointliquor</p>
        </footer>
    </body>
</html>