<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/design.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Deerpoint Liquor Store</title>
    </head>
    <body>

        <div class="main">
            <div class="top">

                <span class="menu-icons">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <span><i class="fa fa-phone"></i>+5877007000<i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
                </span>


                <span class="menu"> 
                    <a href="index">Home</a>
                    <a href="#">About</a>
                    <a href="#">Products</a>
                    <a href="login">Log in</a>
                    <a href="register">Sign up</a>
                </span>
            </div>
            <div class="container"> 
                <div id="nav">
                    <img src="/img/logo.png" alt="logo">
                </div>

                <div class="register">
                    <div th:if="${param.error}">
                        <h1 style="color: red">Invalid username and password.</h1>
                    </div>
                    <div th:if="${param.logout}">
                        <h1 style="color: red">You have been logged out.</h1>
                    </div>
                    <h1>Login</h1>
                    <span>Fill the form to login</span>
                    <br><br><br>
                    <form th:action="@{/login}" method="post">
                        <div><label> User Name : <input type="text" name="username"/> </label></div>
                        <div><label> Password: <input type="password" name="password"/> </label></div>
                        <div><input class="registerbtn" type="submit" value="Sign In"/></div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <footer>
            <p>Copyright &copy; deerpointliquor</p>
        </footer>
        
    </body>
</html>