<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Deerpoint Liquor Store</title>
</head>

<body>

    <div class="main">
        <div class="top">

            <script>
                $.get("/api/customer/username", function(data) {
                    if (data && data.length < 100) {
                        $("#username").append('<a href="profile">' + data + '</a>');
                        $("#login").remove();
                        $("#register").remove();
                        $(".menu").append('<a href="/logout" id="logout">Logout</a>');
                    } else {
                        $("#logout").remove();
                        $("#cart").remove();
                    }
                    console.log(data);
                });
            </script>

            <span class="menu">
                    <a href="index">Home</a>
                    <a href="about">About</a>
                    <a href="#">Products</a>
            <!--                    <a href="#" id="cart">Cart</a>-->

                    <a href="login" id="login">Log in</a>
                    <a href="register" id="register">Sign up</a>
                    <span id="username"></span>
            </span>
        </div>

        <div class="container">
            <br><br>

            <script>
                $.get("/api/product", function(data) {
                    const products = JSON.stringify(data);
                    const productObject = JSON.parse(products);
                    for (let i = 0; i < 5; i++) {
                        let productName = productObject[i].productName;
                        let productPrice = productObject[i].productPrice;
                        $('.cotentFeature').prepend("<img src='/img/" + productName + ".png'" + "/>" + "<br><h2>" + productName + "<br><h3>$" + productPrice) + "</h3></h2>";
                    }
                });
            </script>

            <script>
                $.get("/api/product", function(data) {
                    const products = JSON.stringify(data);
                    const productObject = JSON.parse(products);
                    for (let i = 0; i < 5; i++) {
                        let productName = productObject[i].productName;
                        let productPrice = productObject[i].productPrice;
                        $('.contentOnSale').prepend("<img src='/img/" + productName + ".png'" + "/>" + "<br><h2>" + productName + "<br><h3>$" + productPrice) + "</h3></h2>";
                    }
                });
            </script>

            <script>
                $.get("/api/product", function(data) {
                    const products = JSON.stringify(data);
                    const productObject = JSON.parse(products);
                    for (let i = 0; i < 5; i++) {
                        let productName = productObject[i].productName;
                        let productPrice = productObject[i].productPrice;
                        $('.contentMostSold').prepend("<img src='/img/" + productName + ".png'" + "/>" + "<br> <a><h2>" + productName + "<br></h2></a> <h3>$" + productPrice) + "</h3>";
                    }

                });
            </script>


            <!-- Middle Section -->
            <div class="middleAbout">
                <img src="/img/productlogo.png" alt="logo" style="width: 20vw; padding-top: 20vh;">
            </div>
            <!-- Middle Section -->

            <script>
                function searchProducts() {
                    let searchName = document.getElementById("searchName").value;
                    let searchURL = "/api/product/search?name=" + searchName;
                    $.get(searchURL, function(data) {
                        const products = JSON.stringify(data);
                        const productObject = JSON.parse(products);

                        if (productObject.length > 0) {
                            document.getElementById("contentSearch").innerHTML = "";

                            for (let i = 0; i < productObject.length; i++) {
                                let productName = productObject[i].productName;
                                let productPrice = productObject[i].productPrice;


                                let column = document.createElement("div");
                                column.className = "column"

                                let productImageTag = document.createElement("img");
                                productImageTag.src = "/img/" + productName + ".png";
                                column.appendChild(productImageTag);

                                let productNameH2 = document.createElement("h2");
                                let productNameText = document.createTextNode(productName);
                                productNameH2.appendChild(productNameText);
                                column.appendChild(productNameH2);

                                let productPriceH3 = document.createElement("h3");
                                let productPriceText = document.createTextNode(productPrice);
                                productPriceH3.appendChild(productPriceText);
                                column.appendChild(productPriceH3);


                                document.getElementById("contentSearch").appendChild(column);
                            }
                        }
                    });
                }
            </script>

            <div class="search">
                <h3><i class="fa fa-search">Search:</i>  <input id="searchName" onchange="searchProducts()" type="text"></h3>
                <h1>Searched Items</h1>
                <br>
            <div class="row contentSearch" id="contentSearch">

            </div>
        </div>
            <!--        <div class="search">-->
            <!--            <h3><i class="fa fa-search">Search: <input id="searchName" onchange="searchProducts()" type="text"></i></h3>-->
            <!--            <h1>Searched Items</h1>-->
            <!--            <br>-->
            <!--            <div class="contentSearch" id="contentSearch">-->
            <!--                &lt;!&ndash;                        display given product&ndash;&gt;-->
            <!--            </div>-->
            <!--        </div>-->

            <div class="feature">
                <a href="/api/product/featured"><h1>Featured Items</h1></a>
                <br>
                <div class="cotentFeature">
                    <!--                        display given product-->
                </div>
            </div>

            <div class="onSale">
                <a href="/api/product/on-sale"><h1>On-Sale Items</h1></a>
                <br>
                <div class="contentOnSale">
                    <!--                        display given product-->
                </div>
            </div>

            <div class="mostSold">
                <a href="/api/product/mostsold"><h1>Most Sold Items</h1></a>
                <br>
                <div class="contentMostSold">
                    <!--                        display given product-->
                </div>
            </div>
        </div>
    </div>

    <footer>
        <span class="homefoot"><br><i class="fa fa-phone"></i>+5877007000<br><i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
        <p>Copyright &copy; deerpointliquor</p>
    </footer>
</body>

</html>