<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/design.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Deerpoint Liquor Store</title>
    </head>
    <body>

        <div class="main">
            <div class="top">

                <span class="menu"> 
                    <a href="index">Home</a>
                    <a href="about">About</a>
                    <a href="#">Products</a>
                    <a href="login">Log in</a>
                    <a href="register">Sign up</a>
                </span>
            </div>
            <div class="container"> 
                <br><br><br>
                <div class="register">
                    <script>
                        function register() {
                            $.post("/api/customer/register", {
                                name: $("#name").val(),
                                password: $("#password").val(),
                                passwordRepeat: $("#passwordRepeat").val(),
                                email: $("#email").val()
                            }).done(function (data) {
                                 document.getElementById("result").innerHTML = data;
                            });
                        }
                    </script>


                    <h1 id="result" style="color: red;" ></h1>
                    <div id="register">
                        <h1>Register</h1>

                        <span>Fill the form to create an account</span><br><br><br>

                        <label for="text"><b>Name</b></label>
                        <input type="text" placeholder="Enter Name" name="name" id="name" required>

                        <label for="email"><b>Email</b></label>
                        <input type="email" placeholder="Enter Email" name="email" id="email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" id="password" required>

                        <label for="passwordRepeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="passwordRepeat" id="passwordRepeat" required>

                        <button class="registerbtn" onclick="register()">Register</button>
                    </div>
                </div>

            </div>
        </div>
        <br><br>
        <footer>
            <p>Copyright &copy; deerpointliquor</p>
        </footer>


    </body>
</html>




