<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/design.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Deerpoint Liquor Store</title>
    </head>
    <body>

        <div class="main">
            <div class="top">

                <span class="menu-icons">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <span><i class="fa fa-phone"></i>+5877007000<i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
                </span>


                <span class="menu"> 
                    <a href="login">Log in</a>
                    <a href="register">Sign up</a>
                    <a href="index">Home</a>
                    <a href="#">About</a>
                    <a href="#">Products</a>
                    <a href="#">Cart</a>
                </span>
            </div>
            <div class="container"> 
                <div id="nav">
                    <img src="/img/logo.png" alt="logo">

                </div>

                <div class="register">
<!--                    <script>
                        let searchParameters = window.location.href;
                        $.urlParam('param1'); // name
                         $("#result").html(getParm.get("error"));
                    </script>-->


<form id="register" action="/api/customer"  method="POST" target="here">
                        <h1>Register</h1>
                        <h1 id="result"></h1>
                        <span>Fill the form to create an account</span>

                        <label for="text"><b>Name</b></label>
                        <input type="text" placeholder="Enter Name" name="name" id="name" required>

                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" id="email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" id="password" required>

                        <label for="passwordRepeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="passwordRepeat" id="passwordRepeat" required>

                        <button type="submit" class="registerbtn">Register</button>
                    </form>
                </div>

            </div>
        </div>

        <footer>
            <span><br><i class="fa fa-phone"></i>+5877007000<br><i class="fa fa-envelope"></i> deerpointliquor@gmail.com</span>
            <p>Copyright &copy; deerpointliquor</p>
        </footer>
    </body>
</html>